#slider .rs-range-color  {
    background-color: #6DFFA4;
}
#slider .rs-path-color  {
    background-color: #BEFFD7;
}
#slider .rs-handle  {
    background-color: #C2E9F7;
    padding: 7px;
    border: 2px solid #C2E9F7;
}
#slider .rs-handle.rs-focus  {
    border-color: #33B5E5;
}
#slider .rs-handle:after  {
    border-color: #33B5E5;
    background-color: #33B5E5;
}
#slider .rs-border  {
    border-color: transparent;
}

#slider .rs-bg-color {
  box-shadow: 0 0 10px #000D41;
  /* MapleM mob images */
}
